{% extends "base.html" %}
{% comment %}

    Copyright 2014-2017 GoodCrypto
    Last modified: 2017-03-26

{% endcomment %}
{% load i18n custom %}

{% block titlevar %}FAQ: General Questions &amp; Answers | GoodCrypto{% endblock %}

{% block contentpane %}
<div class="container">



<div class="row">
    <div class="col-md-12">







<div id="content">

    <a name="Questions"></a>
    <h2>FAQ: General Questions &amp; Answers</h2>


    <div class="row">
        <div class="col-md-2">

            <p><a href="/qna/general/single_page/index.html">Single page</a></p>







    <h4> <a href="/qna/technical/index.html" title="Answers to more technical topics and how GoodCrypto handles them">Technical FAQ</a> </h4>
    <h4> <a href="/qna/knowledge-base/index.html" title="Manual and trouble shooting guide for GoodCrypto">Knowledge Base</a> </h4>

    <p> &nbsp; </p>




            <h3>Topics</h3>



                <a href="#Overview">
                    <h4>Overview</h4>
                </a>

                <a href="#Mail">
                    <h4>Mail</h4>
                </a>

                <a href="#Web">
                    <h4>Web</h4>
                </a>

                <a href="#Licenses">
                    <h4>Licenses</h4>
                </a>



    <a href="/heroes/index.html" class="basic_button" title="Heroes">
        <h4>Heroes</h4>
    </a>





        </div>

        <div class="col-md-10">




                    <div class="col-md-12">
                        <a name="Overview"></a>
                        <p>&nbsp;</p>
                        <h3>Overview</h3>
                    </div>

                    <div class="col-md-12" id="triggers">
                        <p>
                            <a href="/qna/general/goodcrypto-description.html">
                                What is GoodCrypto?
                            </a>
                        </p>
                    </div>


                    <div class="col-md-12" id="triggers">
                        <p>
                            <a href="/qna/general/why-need-goodcrypto.html">
                                Why do I need GoodCrypto?
                            </a>
                        </p>
                    </div>


                    <div class="col-md-12" id="triggers">
                        <p>
                            <a href="/qna/general/goodcrypto-benefits.html">
                                What are the benefits?
                            </a>
                        </p>
                    </div>


                    <div class="col-md-12" id="triggers">
                        <p>
                            <a href="/qna/general/pay-open-source.html">
                                Why should I pay for open source?
                            </a>
                        </p>
                    </div>


                    <div class="col-md-12" id="triggers">
                        <p>
                            <a href="/qna/general/spies-want-your-money.html">
                                How do I know if the threat is real?
                            </a>
                        </p>
                    </div>


                    <div class="col-md-12" id="triggers">
                        <p>
                            <a href="/qna/general/why-doesnt-goodcrypto-protect-phone-calls-or-instant-messaging.html">
                                Why doesn't GoodCrypto protect phone calls or instant messaging?
                            </a>
                        </p>
                    </div>


                    <div class="col-md-12" id="triggers">
                        <p>
                            <a href="/qna/general/goodcrypto-limitations.html">
                                What are the limitations of GoodCrypto?
                            </a>
                        </p>
                    </div>


                    <div class="col-md-12" id="triggers">
                        <p>
                            <a href="/qna/general/how-do-i-get-my-technical-questions-answered.html">
                                How do I get my technical questions answered?
                            </a>
                        </p>
                    </div>


                    <div class="col-md-12" id="triggers">
                        <p>
                            <a href="/qna/general/what-should-i-expect-after-installing.html">
                                What should I expect after installing?
                            </a>
                        </p>
                    </div>


                    <div class="col-md-12">
                        <a name="Mail"></a>
                        <p>&nbsp;</p>
                        <h3>Mail</h3>
                    </div>

                    <div class="col-md-12" id="triggers">
                        <p>
                            <a href="/qna/general/goodcrypto-mail-description.html">
                                What is GoodCrypto Mail?
                            </a>
                        </p>
                    </div>


                    <div class="col-md-12" id="triggers">
                        <p>
                            <a href="/qna/general/how_important_is_email.html">
                                How important is email today?
                            </a>
                        </p>
                    </div>


                    <div class="col-md-12" id="triggers">
                        <p>
                            <a href="/qna/general/goodcrypto-mail-benefits.html">
                                What problems does GoodCrypto Mail solve?
                            </a>
                        </p>
                    </div>


                    <div class="col-md-12" id="triggers">
                        <p>
                            <a href="/qna/general/goodcrypto-mail-works.html">
                                How does GoodCrypto Mail work?
                            </a>
                        </p>
                    </div>


                    <div class="col-md-12" id="triggers">
                        <p>
                            <a href="/qna/general/exchange-plain-mail.html">
                                Can I still exchange plain email?
                            </a>
                        </p>
                    </div>


                    <div class="col-md-12" id="triggers">
                        <p>
                            <a href="/qna/general/must-contacts-use-goodcrypto-mail.html">
                                Do all my contacts have to use GoodCrypto Mail?
                            </a>
                        </p>
                    </div>


                    <div class="col-md-12" id="triggers">
                        <p>
                            <a href="/qna/general/goodcrypto-mail-clients.html">
                                Can I use GoodCrypto with my existing email client?
                            </a>
                        </p>
                    </div>


                    <div class="col-md-12" id="triggers">
                        <p>
                            <a href="/qna/general/goodcrypto-email-and-web-based-email.html">
                                Does GoodCrypto Mail work with web based email?
                            </a>
                        </p>
                    </div>


                    <div class="col-md-12">
                        <a name="Web"></a>
                        <p>&nbsp;</p>
                        <h3>Web</h3>
                    </div>

                    <div class="col-md-12" id="triggers">
                        <p>
                            <a href="/qna/general/goodcrypto-web-description.html">
                                What is GoodCrypto Web?
                            </a>
                        </p>
                    </div>


                    <div class="col-md-12" id="triggers">
                        <p>
                            <a href="/qna/general/goodcrypto-web-benefits.html">
                                What problems does GoodCrypto Web solve?
                            </a>
                        </p>
                    </div>


                    <div class="col-md-12" id="triggers">
                        <p>
                            <a href="/qna/general/goodcrypto-web-works.html">
                                How does browsing with GoodCrypto work?
                            </a>
                        </p>
                    </div>


                    <div class="col-md-12" id="triggers">
                        <p>
                            <a href="/qna/general/goodcrypto-web-browsers.html">
                                Can I still use my favorite browser?
                            </a>
                        </p>
                    </div>


                    <div class="col-md-12">
                        <a name="Licenses"></a>
                        <p>&nbsp;</p>
                        <h3>Licenses</h3>
                    </div>

                    <div class="col-md-12" id="triggers">
                        <p>
                            <a href="/qna/general/goodcrypto-license.html">
                                How is GoodCrypto licensed?
                            </a>
                        </p>
                    </div>

        </div>
    </div>
</div>



    </div>
</div>


<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="navbar navbar-bottom">
    <div class="nav-collapse">






    <div class="row">&nbsp;</div>
    <div class="row"><hr></div>
    <div class="row small center">
        <div class="col-md-2">
        &nbsp;
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1 center">

        </div>
        <div class="col-md-1 center">
        </div>
        <div class="col-md-1 center">
        </div>
        <div class="col-md-1 center">
        </div>
        <div class="col-md-2 right">
            &copy; <a href="/legal/index.html" title="A few legal details">2014-2017 GoodCrypto</a>
        </div>
        <div class="col-md-1">
        &nbsp;
        </div>
    </div>



    </div>
</div>
{% endblock contentpane %}
