{% extends "base.html" %}
{% comment %}

    Copyright 2014-2017 GoodCrypto
    Last modified: 2017-03-26

{% endcomment %}
{% load i18n custom %}

{% block titlevar %}FAQ | GoodCrypto{% endblock %}

{% block contentpane %}


    <a name="Questions"></a>
    <h2>FAQs: Questions &amp; Answers</h2>


    <div class="row">
        <div class="col-md-2">

            <p><a href="/qna/technical/single_page/index.html">Single page</a></p>








    <p> &nbsp; </p>




    <h4> <a href="/qna/general/index.html" title="Answers to general topics about GoodCryptoprivate server">General FAQ</a> </h4>
    <h4> <a href="/qna/technical/index.html" title="Answers to more technical topics and how GoodCrypto handles them">Technical FAQ</a> </h4>
    <h4> <a href="/qna/knowledge-base/index.html" title="Manual and trouble shooting guide for GoodCrypto private server">Knowledge Base</a> </h4>

        </div>
    </div>
</div>

{% endblock contentpane %}

