{% extends "base.html" %}
{% comment %}

    Copyright 2014-2017 GoodCrypto
    Last modified: 2017-03-26

{% endcomment %}
{% load i18n custom %}

{% block contentpane %}
<div class="container">



<div class="row">
    <div class="col-md-12">







<div id="content">

    <a name="Questions"></a>
    <h2>Knowledge Base</h2>


    <div class="row">
        <div class="col-md-2">

    <p>&nbsp;</p>







    <h4> <a href="/qna/general/index.html" title="Answers to general topics about GoodCrypto">General FAQ</a> </h4>
    <h4> <a href="/qna/technical/index.html" title="Answers to more technical topics and how GoodCrypto handles them">Technical FAQ</a> </h4>

    <p> &nbsp; </p>














        </div>

        <div class="col-md-10">

    <div class="row">
        <a name="Questions"></a>
        <h2>How do I import a key from a file?</h2>


            <h4 class="dropcap">

            </h4>

                <p>
                    <ol>
  <li>Connect to your <a href="/qna/knowledge-base/access-goodcrypto-server.html">Goodcrypto private server website</a>.</li>
  <li><a href="/qna/knowledge-base/sign-in-to-goodcrypto-server.html">Sign in</a></li>
  <li>Click on <strong>Mail</strong> in the menu</li>
  <li>Click on <strong>Import key</strong></li>
  <li>Click on <strong>From file</strong> tab</li>
  <li>Click on <strong>Browse</strong></li>
  <li>Select the key file that you want to import</li>
  <li>Select the type of key (PGP and GPG are the same for this purpose)</li>
  <li>Optionally, enter the user's name</li>
  <li>Optionally, enter the fingerprint if you'd like it automatically marked as verified</li>
  <li>If you're importing a private key, then you must enter the matching passphrase. Otherwise, leave the field blank.</li>
  <li>Click on <strong>Import</strong></li>
  <li>If successful, a message appears with the email address of the key and you're ready to import another key if you want</li>
</ol>

<p>
You can also import a key from a <a href="/qna/knowledge-base/import-from-keyserver.html">keyserver</a>.
</p>
                </p>


    </div>

        </div>
    </div>
</div>



    </div>
</div>


<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="navbar navbar-bottom">
    <div class="nav-collapse">






    <div class="row">&nbsp;</div>
    <div class="row"><hr></div>
    <div class="row small center">
        <div class="col-md-2">
        &nbsp;
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1 center">

        </div>
        <div class="col-md-1 center">
        </div>
        <div class="col-md-1 center">
        </div>
        <div class="col-md-1 center">
        </div>
        <div class="col-md-2 right">
            &copy; <a href="/legal/index.html" title="A few legal details">2014-2017 GoodCrypto</a>
        </div>
        <div class="col-md-1">
        &nbsp;
        </div>
    </div>



    </div>
</div>



</div>
</body>
</html>

{% endblock contentpane %}