{% extends "base.html" %}
{% comment %}

    Copyright 2014-2017 GoodCrypto
    Last modified: 2017-03-26

{% endcomment %}
{% load i18n custom %}

{% block contentpane %}
<div class="container">



<div class="row">
    <div class="col-md-12">







<div id="content">

    <a name="Questions"></a>
    <h2>Knowledge Base</h2>


    <div class="row">
        <div class="col-md-2">

    <p>&nbsp;</p>







    <h4> <a href="/qna/general/index.html" title="Answers to general topics about GoodCrypto">General FAQ</a> </h4>
    <h4> <a href="/qna/technical/index.html" title="Answers to more technical topics and how GoodCrypto handles them">Technical FAQ</a> </h4>

    <p> &nbsp; </p>














        </div>

        <div class="col-md-10">

    <div class="row">
        <a name="Questions"></a>
        <h2>How do I know if a contact is ready to protect metadata and stop traffic analysis?</h2>


            <h4 class="dropcap">

            </h4>

                <p>
                    <ol>
  <li>Go to <a href="/qna/knowledge-base/access-goodcrypto-server.html">your GoodCrypto private server</a>.</li>
  <li><a href="/qna/knowledge-base/sign-in-to-goodcrypto-server.html">Sign in</a></li>
  <li>Click the <strong>Mail</strong> menu item or button.</li>
  <lI>Click the <strong>Metadata</strong> button.</li>
  <li>If you see the domain for the contac's email (i.e., the portion to the right of the @ sign) in the list, then you know that messages to this company will be protected <a href="/qna/knowledge-base/learn-whether-metadata-protected.html">if your company is protecting your metadata and stopping traffic analysis</a>.</li>
  <li>If you don't see the domain for the contact's email, then you can exchange one or two messages with them (which will not have metadata protection) and then recheck if the domain is in the list. Or, you can use another form of communication then email, and <a href="/qna/knowledge-base/export-public-key.html">exchange keys manually</a> for the _no_metadata_ key for each domain.</li>
</ol>

<p>
Remember that until other packages implement the open source protocol for metadata protection, you will need GoodCrypto on both ends. Encourage others to use GoodCrypto so <em>your</em> mail is fully protected.
</p>

                </p>


    </div>

        </div>
    </div>
</div>



    </div>
</div>


<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="navbar navbar-bottom">
    <div class="nav-collapse">






    <div class="row">&nbsp;</div>
    <div class="row"><hr></div>
    <div class="row small center">
        <div class="col-md-2">
        &nbsp;
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1 center">

        </div>
        <div class="col-md-1 center">
        </div>
        <div class="col-md-1 center">
        </div>
        <div class="col-md-1 center">
        </div>
        <div class="col-md-2 right">
            &copy; <a href="/legal/index.html" title="A few legal details">2014-2017 GoodCrypto</a>
        </div>
        <div class="col-md-1">
        &nbsp;
        </div>
    </div>



    </div>
</div>



</div>
</body>
</html>

{% endblock contentpane %}