{% extends "base.html" %}
{% comment %}

    Copyright 2014-2017 GoodCrypto
    Last modified: 2017-03-26

{% endcomment %}
{% load i18n custom %}

{% block contentpane %}
<div class="container">



<div class="row">
    <div class="col-md-12">







<div id="content">

    <a name="Questions"></a>
    <h2>Knowledge Base</h2>


    <div class="row">
        <div class="col-md-2">

    <p>&nbsp;</p>







    <h4> <a href="/qna/general/index.html" title="Answers to general topics about GoodCrypto">General FAQ</a> </h4>
    <h4> <a href="/qna/technical/index.html" title="Answers to more technical topics and how GoodCrypto handles them">Technical FAQ</a> </h4>

    <p> &nbsp; </p>














        </div>

        <div class="col-md-10">

    <div class="row">
        <a name="Questions"></a>
        <h2>What do I do with a key someone sent me?</h2>


            <h4 class="dropcap">

            </h4>

                <p>
                    <p>If you encounter one of those rare, brave people who
isn't using GoodCrypto Mail but is using encryption, you'll need to import
their public key <strong>before</strong> mail to them will be protected.
</p>
<ol>
    <li>Ask them to send you their public key as an attachment.</li>
    <li>Browse to your GoodCrypto server website</a>.</li>
    <li>Click <strong>Mail</strong> menu.</li>
    <li>Click the <strong>Import</strong> button.</li>
    <li>Click the <strong>Browse</strong> button and select the file name.</li>
    <li><a href="/qna/knowledge-base/user-verify-key.html">Verify their key</a></li>
</ol>
<p>
Of course, the easiest way to exchange keys is to suggest the other person install GoodCrypto Server, too.
Keys are automatically exchanged.

                </p>


    </div>

        </div>
    </div>
</div>



    </div>
</div>


<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="navbar navbar-bottom">
    <div class="nav-collapse">






    <div class="row">&nbsp;</div>
    <div class="row"><hr></div>
    <div class="row small center">
        <div class="col-md-2">
        &nbsp;
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-1 center">

        </div>
        <div class="col-md-1 center">

        </div>
        <div class="col-md-1 center">

        </div>
        <div class="col-md-1 center">

        </div>
        <div class="col-md-2 right">
            &copy; <a href="/legal/index.html" title="A few legal details">2014-2017 GoodCrypto
</a>
        </div>
        <div class="col-md-1">
        &nbsp;
        </div>
    </div>



    </div>
</div>



</div>
</body>
</html>

{% endblock contentpane %}