{% extends "base.html" %}
{% comment %}

    Copyright 2014-2017 GoodCrypto
    Last modified: 2017-03-26

{% endcomment %}
{% load i18n custom %}

{% block titlevar %}FAQ: General Questions &amp; Answers | GoodCrypto{% endblock %}

{% block contentpane %}

<div class="container">



<div class="row">
    <div class="col-md-12">







<div id="content">

    <a name="Questions"></a>
    <h2>FAQ: General Questions &amp; Answers</h2>


    <div class="row">
        <div class="col-md-2">








    <h4> <a href="/qna/technical/index.html" title="Answers to more technical topics and how GoodCrypto handles them">Technical FAQ</a> </h4>
    <h4> <a href="/qna/knowledge-base/index.html" title="Manual and trouble shooting guide for GoodCrypto">Knowledge Base</a> </h4>

    <p> &nbsp; </p>




            <h3>Topics</h3>



                <a href="#Overview">
                    <h4>Overview</h4>
                </a>

                <a href="#Mail">
                    <h4>Mail</h4>
                </a>

                <a href="#Web">
                    <h4>Web</h4>
                </a>

                <a href="#Licenses">
                    <h4>Licenses</h4>
                </a>



    <a href="/heroes/index.html" class="basic_button" title="Heroes">
        <h4>Heroes</h4>
    </a>





        </div>

        <div class="col-md-10">





        <div class="col-md-12">
            <a name="Overview"></a>
            <p>&nbsp;</p>
            <p><h3>Overview</h3></p>
        </div>




                <div>
                    <a name="1"></a>
                    <p>&nbsp;</p>
                    <h4 class="well">
                        What is GoodCrypto?
                    </h4>

                        <h4 class="dropcap">
                            One server that protects the privacy of everyone in your organization
                        </h4>
                        <br/>



                        <p>

                        GoodCrypto is a private server that runs on your computer which protects email and browsing for a group. It automatically encrypts and decrypts email including metadata, and manages keys. Everyone in the group gets <a href="https://www.youtube.com/watch?v=JWII85UlzKw">Tor</a> anonymity plus malware blocking and tracker removal. GoodCrypto is based on the most tested and trusted crypto, GPG and Tor. Snowden relied on them, and he is alive and free. It's hard to imagine a better test.

                    </p>

                </div>




                <div>
                    <a name="2"></a>
                    <p>&nbsp;</p>
                    <h4 class="well">
                        Why do I need GoodCrypto?
                    </h4>

                        <h4 class="dropcap">

                        </h4>
                        <br/>



                        <p>



<p><img src="/static/images/diagrams/email_overview.png" alt="Automatically encrypt and decrypt email"></p>
<p>&nbsp;</p>

<p>It's easy to think that when you exchange an email message or browse
the web in the privacy of your office or home, no one else can see it.
Prior to Edward Snowden's revelations, most of us probably thought economic espionage was
just a Hollywood story line, not reality. Just a small sampling of recent news stories shows us how wrong that misconception was.

<ul>
    <li> <a href="http://www.theguardian.com/world/2014/jan/26/edward-snowden-nsa-industrial-sabotage" target =" _blank ">Edward Snowden tells German TV that NSA is involved in industrial espionage</a>.
    (<em>Censored</em>. Copies
    <a href="http://www.cbc.ca/m/touch/world/story/1.2511635" target =" _blank ">1</a>,
    <a href="https://web.archive.org/web/20140127020717/http://www.theguardian.com/world/2014/jan/26/edward-snowden-nsa-industrial-sabotage" target =" _blank ">2</a>,
    <a href="https://web.archive.org/save/http://www.cbc.ca/m/touch/world/story/1.2511635" target =" _blank ">3</a>, <a href="http://mobile.reuters.com/article/idUSBREA0P0DE20140126?irpc=932" target =" _blank ">4</a>)</li>
    <li>US and Canadian spies have targeted Brazilian companies,
    <a href="http://www.theguardian.com/world/2013/sep/09/nsa-spying-brazil-oil-petrobras" target =" _blank ">Petrobras</a> and
    <a href="http://m.g1.globo.com/fantastico/noticia/2013/10/american-and-canadian-spies-target-brazilian-energy-and-mining-ministry.html" target =" _blank ">Energy and Mining Ministry</a>.</li>
   <li>The Australian spy agency helped
    <a href="http://www.smh.com.au/national/australian-spy-agency-helped-bhp-negotiate-trade-deals-20131106-2x1sw.html" target =" _blank ">BHP</a> negotiate trade deals.</li>
    <li>The Guardian reported that XKeyscore is an NSA tool that collects
    <a href="http://www.theguardian.com/world/2013/jul/31/nsa-top-secret-program-online-data" target =" _blank ">"nearly everything a user does on the internet"</a>.</li>
</ul>

<p>GoodCrypto stops spies from reading your email in transit and watching where you surf on the web.</p>

                    </p>

                </div>




                <div>
                    <a name="22"></a>
                    <p>&nbsp;</p>
                    <h4 class="well">
                        What are the benefits?
                    </h4>

                        <h4 class="dropcap">
                            Protect privacy
                        </h4>
                        <br/>



                        <p>

                        <ul>
<li>Happier users. Same browser. Same mail.</li>
<li>Properly configured. Strong crypto.</li>
<li>Resist censorship.</li>
<li>No clicks and no training for users.
<li>Safety in numbers. Hide in a crowd, and hide your crowd in a bigger crowd.</li>
<li>Right software. Right versions.</li>
<li>Pre-configured.</li>
<li>Automatic updates. Professional support.</li>
<li>Secure infrastructure. Integrated solution.</li>
<li>Hardened. Performance-optimized.</li>
<li>Layered protection.</li>
<li>Easy to install, use, and maintain.</li>
<li>Virtual appliance. (soon)</li>
                    </p>

                </div>




                <div>
                    <a name="110"></a>
                    <p>&nbsp;</p>
                    <h4 class="well">
                        Why should I pay for open source?
                    </h4>

                        <h4 class="dropcap">

                        </h4>
                        <br/>



                        <p>

                            <ol>
        <li>You get the fastest security updates possible.</li>
        <li>You get the newest features first, typically 6 months or more before non-subscribers</li>
        <li>You're not vulnerable while you wait for the next source release.</li>
        <li>You don't have to build and integrate updates manually.</li>
        <li>You help finance continued development.</li>
        <li>You get professional support. No finger pointing. Just solutions.</li>
    </ol>

                    </p>

                </div>




                <div>
                    <a name="77"></a>
                    <p>&nbsp;</p>
                    <h4 class="well">
                        How do I know if the threat is real?
                    </h4>

                        <h4 class="dropcap">

                        </h4>
                        <br/>



                        <p>

                        <h4>
    "<a href="http://www.newsweek.com/2016/12/23/virtual-currencies-bitcoin-being-monitored-us-government-532063.html" target =" _blank">America’s long-standing ability to disrupt the financial networks of its foes and even permanently upend parts of the global financial system</a>".   The U.S. goal is to "starve them."
 </h4>

<ul>

    <li>
            U.S. National Intelligence Director James Clapper admits that the U.S. spies on "<a href="https://theintercept.com/2015/11/18/overwhelmed-nsa-surprised-to-discover-its-own-surveillance-goldmine-on-venezuelas-oil-executives/">financial  matters</a>" .
    </li>
    <li>
      Ed Snowden revealed that
       "<a href="https://wikileaks.org/nsa-france/?2" target =" _blank">These programs were never about terrorism</a>: they’re about
        <a href="https://wikileaks.org/nsa-france/?2" target =" _blank">economic spying</a>,
        social control, and diplomatic manipulation. They’re about power."
    </li>
    <li>
        <a href="http://www.theguardian.com/world/2014/jan/26/edward-snowden-nsa-industrial-sabotage" target =" _blank">Edward Snowden tells German TV that NSA is involved in industrial espionage</a>.
        <em>Censored</em>. Copies
        <a href="http://www.bbc.com/news/25907502" target =" _blank">1</a>,
        <a href="http://www.cbc.ca/m/touch/world/story/1.2511635" target =" _blank">2</a>,
        <a href="https://web.archive.org/web/20140127020717/http://www.theguardian.com/world/2014/jan/26/edward-snowden-nsa-industrial-sabotage" target =" _blank">3</a>,
        <a href="https://web.archive.org/web/20150831110953/http://www.cbc.ca/m/touch/world/story/1.2511635" target =" _blank">4</a>,
        <a href="http://mobile.reuters.com/article/idUSBREA0P0DE20140126?irpc=932" target =" _blank">5</a>
    </li>
    <li>
        <a href="http://www.wired.com/2012/03/ff_nsadatacenter/all/" target =" _blank">The NSA Is Building the Country's Biggest Spy Center</a>. Priorities are "financial information, stock transactions, business deals"
    </li>
    <li>
        <a href="http://www.theguardian.com/uk-news/2015/jan/19/gchq-intercepted-emails-journalists-ny-times-bbc-guardian-le-monde-reuters-nbc-washington-post" target =" _blank">GCHQ captured emails of journalists from top international media</a>. 70,000 emails harvested in less than 10 minutes.
    </li>
    <li>
        <a href="http://www.nytimes.com/2014/06/01/us/nsa-collecting-millions-of-faces-from-web-images.html" target =" _blank">N.S.A. Collecting Millions of Faces From Web Images</a> and from email for facial recognition.

    </li>
    <li>
        <a href="http://www.foxnews.com/tech/2013/06/11/inside-nsas-secret-utah-data-center/" target =" _blank">Inside the NSA’s secret Utah data center</a> "capable of sorting through and storing every e-mail"
    </li>
    <li>
        <a href="http://www.huffingtonpost.com/2013/06/13/nsa-utah_n_3434175.html" target =" _blank">NSA's Utah Home</a> "designed to store massive amounts of information gathered secretly from phone calls and emails"
    </li>
    <li>
        <a href="http://www.theguardian.com/world/2013/jul/31/nsa-top-secret-program-online-data" target =" _blank">XKeyscore: NSA tool collects 'nearly everything a user does on the internet'</a>
    </li>
    <li>
        <a href="http://www.businessinsider.com/russia-and-china-are-hacking-british-companies-and-spying-on-their-employees-2015-6?IR=T" target =" _blank">Russia and China are hacking British companies and spying on their employees</a>.
        A “major London listed company”, said to be Rio Tinto, lost a staggering £800m as a result of a “hostile state cyber attack”
    </li>
    <li>
        <a href="http://www.bloomberg.com/news/articles/2015-10-14/cyberspace-becomes-second-front-in-russia-s-clash-with-nato" target =" _blank">Cyberspace Becomes Second Front in Russia’s Clash With NATO</a>.
        Targets include the Polish stock market, a German steel plant, etc.
    </li>
    <li>
        <a href="https://firstlook.org/theintercept/2014/02/24/jtrig-manipulation/" target =" _blank">How Covert Agents Infiltrate the Internet to Manipulate, Deceive, and Destroy Reputations</a>.
        Snowden documents include how to "Discredit a company"
    </li>
    <li>
        <a href="http://www.theguardian.com/world/2015/sep/08/red-web-book-russia-internet" target =" _blank">Inside the Red Web: Russia's back door onto the internet</a>. Able to "silently and effortlessly eavesdrop on emails".
    </li>
    <li>
        "<a href="https://www.washingtonpost.com/world/national-security/former-national-security-officials-urge-government-to-embrace-rise-of-encryption/2015/12/15/3164eae6-a27d-11e5-9c4e-be37f66848bb_story.html" target =" _blank">Chinese economic espionage is so severe</a> that stopping that is more important than being able to read the communications of a criminal,” said Mike McConnell, former NSA Director.
    </li>
    <li>
        <a href="http://motherboard.vice.com/read/china-is-still-hacking-us-companies-after-promising-it-would-stop-report-says" target =" _blank">China Is Still Hacking US Companies After Promising It Would Stop, Report Says</a>
    </li>
    <li>
        <a href="http://www.businessweek.com/articles/2012-03-14/inside-the-chinese-boom-in-corporate-espionage" target =" _blank">Inside the Chinese Boom in Corporate Espionage</a>
    </li>
    <li>
        <a href="http://thediplomat.com/2011/09/chinas-growing-spy-threat/?allpages=yes" target =" _blank">China’s Growing Spy Threat</a> One estimate is "there are around two million Chinese working directly or indirectly for China’s intelligence apparatus."
    </li>
    <li>
        <a href="http://www.thelocal.de/20100522/27365" target =" _blank">Russia, China engaging in industrial espionage</a>
    </li>
    <li>
        <a href="http://www.thelocal.de/20150510/nsa-asked-germany-to-spy-on-siemens" target =" _blank">NSA asked Germany ‘to spy’ on Siemens </a>
    </li>
    <li>
        "The Americans
        <a href="http://www.spiegel.de/international/germany/german-intelligence-agency-bnd-under-fire-for-nsa-cooperation-a-1030593.html" target =" _blank">weren't just interested in terrorism</a>;
        they also used their technical abilities to spy on companies and agencies in Western Europe."
    </li>
    <li>
        <a href="http://www.smh.com.au/world/george-brandis-hands-over-to-east-timor-docs-seized-by-asio-20150503-1myyps.html" target =" _blank"> Espionage and a treaty dividing $40 billion in oil and gas revenues </a>
    </li>
    <li>
        American Ambassador thanks NSA for "deep insight into the plans and intentions" of
        <a href="http://epoca.globo.com/tempo/noticia/2013/08/carta-em-que-o-atual-bembaixadorb-americano-no-brasil-bagradece-o-apoio-da-nsab.html" target =" _blank">economic negotiators</a>.
    </li>
    <li>
        Energy and Mining a focus:
        <ul>
            <li>
                US on Brazil: <a href="http://www.theguardian.com/world/2013/sep/09/nsa-spying-brazil-oil-petrobras" target =" _blank">NSA accused of spying on Brazilian oil company Petrobras</a>
            </li>
            <li>
                Canada and US on Brazil. <a href="http://www.cbc.ca/news/canada/brazil-canada-espionage-which-countries-are-we-spying-on-1.1930522" target =" _blank">Brazil-Canada espionage: Which countries are we spying on?</a> and <a href="http://m.g1.globo.com/fantastico/noticia/2013/10/american-and-canadian-spies-target-brazilian-energy-and-mining-ministry.html" target =" _blank">American and Canadian Spies target Brazilian Energy and Mining Ministry</a>
            </li>
            <li>
                Australia on Japan. <a href="http://www.smh.com.au/national/australian-spy-agency-helped-bhp-negotiate-trade-deals-20131106-2x1sw.html" target =" _blank">Australian spy agency helped BHP negotiate trade deals</a>
            </li>
            <li>
                Australia on East Timor <a href="http://web.archive.org/web/20131207023455/http://www.abc.net.au/am/content/2013/s3904457.htm" target =" _blank">Brandis orders ASIO raids related to East Timor spying case</a>
            </li>
            <li>
                US on EU <a href="http://euobserver.com/justice/122879" target =" _blank">Obama advisor: Pipeline deals could see US spy on EU leaders</a>
            </li>
            <li>
                UK on OPEC: <a href="http://arstechnica.com/tech-policy/2013/11/uk-spies-continue-quantum-insert-attack-via-linkedin-slashdot-pages/" target =" _blank">UK spies continue “quantum insert” attack via LinkedIn, Slashdot pages</a>
            </li>
            <li>
                UK on South Korea: <a href="http://english.hani.co.kr/arti/english_edition/e_international/716586.html" target =" _blank">UK targeting email of "aviation, energy, and finance sectors"</a>
            </li>
            <li>
                US on Venezuela: <a href="http://www.telesurtv.net/english/news/NSA-Spies-on-Venezuelas-Oil-Company-Snowden-Leak-Reveals-20151118-0010.htmlNSA%20Taps%20into%20Venezuela%27s%20State%20Oil%20Company%20with%20Help%20from%20US%20Embassy,%20Snowden%20Leak%20Reveals" target =" _blank">NSA caught spying on Venezuelan oil company</a>
            </li>
        </ul>
        </li>
    <li>
        <a href="https://firstlook.org/theintercept/2014/09/05/us-governments-plans-use-economic-espionage-benefit-american-corporations/" target =" _blank">The U.S. Government's Secret Plans to Spy for American Corporations</a>
    </li>
    <li>
        <a href="http://www.lawfareblog.com/2014/05/why-did-doj-indict-the-chinese-military-officers/" target =" _blank">Why Did DOJ Indict the Chinese Military Officers?</a>
    </li>

    <li>
        <a href="http://www.theguardian.com/us-news/2014/dec/04/nsa-accused-intercepting-emails-mobile-phone-employees" target =" _blank">NSA accused of intercepting emails sent by mobile phone firm employees</a>
    </li>


    <li>
        <a href="https://wikileaks.org/nsa-france/?2" target =" _blank">Espionnage Élysée</a> "including the interception of all French corporate contracts and negotiations valued at more than $200 million."
    </li>
    <li>
        Many years. <a href="https://en.m.wikipedia.org/wiki/ECHELON" target =" _blank">ECHELON</a>. Search on page for "economic" and "industrial". <a href="http://www.bing.com/search?q=echelon+economic+espionage&amp;form=QBLH" target =" _blank">More</a>
    </li>
    <li>
        <a href="http://www.businessinsider.com/cia-presentation-on-big-data-2013-3" target =" _blank">CIA Presentation On Big Data</a>. They openly want "all human generated information."
    </li>
 </ul>
                    </p>

                </div>




                <div>
                    <a name="102"></a>
                    <p>&nbsp;</p>
                    <h4 class="well">
                        Why doesn't GoodCrypto protect phone calls or instant messaging?
                    </h4>

                        <h4 class="dropcap">

                        </h4>
                        <br/>



                        <p>

                        We believe it doesn't make sense to prop up a device that is a tracker and
in some circumstances a bug. Obviously we are in an extreme minority on this.
                    </p>

                </div>




                <div>
                    <a name="74"></a>
                    <p>&nbsp;</p>
                    <h4 class="well">
                        What are the limitations of GoodCrypto?
                    </h4>

                        <h4 class="dropcap">

                        </h4>
                        <br/>



                        <p>

                        <strong>Do not use GoodCrypto...</strong>
<ul>
  <li> if you don't trust your administrator. Right now anyone can spy on your mail and browsing. GoodCrypto limits that risk to the administrator you already trust.
  <li> if you don't trust your server. A server in the cloud can be especially vulnerable.
  <li> if you're waiting for a solution that stops every imaginable attack. There isn't one. GoodCrypto stops mass surveillance for mail and web.
</ul>

<strong>Do not use GoodCrypto for mail encryption...</strong>:
<ul>
  <li> if you are a whistleblower or member of a suppressed group. GoodCrypto's metadata protection hasn't had enough field testing yet.
  <li> if you are already encrypting mail. We don't want a monoculture.
</ul>

<strong>Do not use GoodCrypto for browsing...</strong>
<ul>
  <li> if you can't live without pictures, videos, etc. GoodCrypto blocks these malware vectors.
</ul>

<strong>Private and safe mail</strong>

<p>
GoodCrypto keeps the content of your mail private.
It is safe from prying eyes. Think of it as an envelope for your email.
</p>

<p>
GoodCrypto protects mail as it crosses the Internet. This stops mass surveillance and many targeted attacks. Your contacts can use GoodCrypto or any other OpenPGP package. Any properly configured mail server with TLS already protects between your own device and your mail server. GoodCrypto enhances your connection to add encryption, mixing, and padding between you and your contact. The result is end to end protection. Someone might possibly read your mail before it is sent, or after it arrives. But that's a <em>lot</em> harder.
</p>

<p>
There are tradeoffs to everything. Automatic PGP for a group requires a group key store. If your GoodCrypto server is cracked, everyone in your group is exposed. The alternative is to store private keys on relatively unprotected user machines. Public internet servers already are trusted to store private keys. Your GoodCrypto server is private, not public. It is carefully configured and protected. This is safer than users protecting themselves, which they simply don't know how to do. </p>



<strong>Don't trust too much</strong>

<p>
Please don't trust unencrypted communications with your life or liberty.  Choose your crypto carefully. Watch for reasons to review that decision.
</p>

<p>
GoodCrypto is based on GPG and Tor.
They are the safest crypto available, and are tested and trusted. But perfect crypto does not exist.
</p>

<p>
GoodCrypto has been independently audited, but needs many more independent audits. Any bug reports are very welcome.
</p>

<p>
Whatever tools you choose, any good crypto is much safer than no crypto.
</p>

                </div>




                <div>
                    <a name="73"></a>
                    <p>&nbsp;</p>
                    <h4 class="well">
                        How do I get my technical questions answered?
                    </h4>

                        <h4 class="dropcap">
                            Technical FAQ, Docs, Knowledge base, Whitepaper, or just ask us.
                        </h4>
                        <br/>



                        <p>

                        The <a href="/qna/technical/index.html">Technical FAQ</a>, <a href="/server/docs/index.html">documentation</a>, and the <a href="/qna/knowledge-base/index.html">knowledge base</a> are the most up to date documents.

<p>There's also a <a href="/server/whitepaper.html">whitepaper</a>.</p>

                </div>




                <div>
                    <a name="101"></a>
                    <p>&nbsp;</p>
                    <h4 class="well">
                        What should I expect after installing?
                    </h4>

                        <h4 class="dropcap">

                        </h4>
                        <br/>



When you first install GoodCrypto, you customize it. Then you configure your existing mail server and browsers for it. Then nothing much seems to happen. GoodCrypto is almost invisible. That's what makes it so easy.

<h3>Mail</h3>

<p>
Don't expect to see anything different for local mail. That should already be protected by TLS. (If your mail server doesn't require TLS for local mail, take a few minutes now to fix that. It's important.)

<p>
As soon as someone sends their next message to anywhere, GoodCrypto generates their PGP key. You can see it on your private server's web site.

<p>
When two groups both use GoodCrypto, each person has to send one last unencrypted message to the other.

<p>
After that, the connection is encrypted. At the bottom of each message from your contact you'll see, "This message was received privately."

<p>
Here's what they <em>didn't</em> have to do:
<ul>
    <li> Create a key
    <li> Publish their public key
    <li> Find every other person's public key
    <li> Import every other public key they need
    <li> Encrypt and sign each outgoing message
    <li> Decrypt and check the signature on each incoming message
</ul>
</p>

<p>
GoodCrypto sends its own messages letting you know what's going on behind the scenes. At the beginning you get a message when your new key is ready. You also hear when a new public key from a contact comes in.
</p>

<p>
You can also communicate privately with anyone who uses OpenPGP. But if they aren't using GoodCrypto it's not completely automatic.
</p>

<h3>Web</h3>

<p>
Some changes when you browse are obvious at a glance. Everything looks different. The whole web appears much calmer. No pictures. No videos. No javascript. These are unfortunately all ways attackers can take over your computer without you knowing it happened. So GoodCrypto blocks them.
</p>

<p>
Some web sites are very unhappy when they can't spy on you. They complain that your browser is old or misconfigured. Ignore them.
</p>

<p>
There's also a lot you can't see. All your web traffic goes through Tor. Outgoing private information that you didn't send is stripped.
</p>
                    </p>

                </div>










































































        <div class="col-md-12">
            <a name="Mail"></a>
            <p>&nbsp;</p>
            <p><h3>Mail</h3></p>
        </div>































                <div>
                    <a name="3"></a>
                    <p>&nbsp;</p>
                    <h4 class="well">
                        What is GoodCrypto Mail?
                    </h4>

                        <h4 class="dropcap">
                            An email filter which encrypts and decrypts messages
                        </h4>
                        <br/>



                        <p>

                        <p>
GoodCrypto Mail automatically encrypts and decrypts your email when you're communicating with someone else who also uses encryption.</p>
<p>
It takes the hassles out of key management, too, if your contacts also
use GoodCrypto Mail or another application which supports automatic
key exchange.</p>

                    </p>

                </div>




                <div>
                    <a name="117"></a>
                    <p>&nbsp;</p>
                    <h4 class="well">
                        How important is email today?
                    </h4>

                        <h4 class="dropcap">
                            182.9 Billion Emails Sent/Received Per Day Worldwide
                        </h4>
                        <br/>



                        <p>

                        <a href="http://sourcedigit.com/4233-much-email-use-daily-182-9-billion-emails-sentreceived-per-day-worldwide/">How Much Email Do We Use Daily? 182.9 Billion Emails</a>. Every day.

<p>
3.9 billion email accounts. 24%, or 929 million, business email accounts. Accounts are growing 6% a year.

<p>
Most email is for business. Although consumers are slowly moving to other forms of messaging, businesses use email more every year.
                    </p>

                </div>




                <div>
                    <a name="4"></a>
                    <p>&nbsp;</p>
                    <h4 class="well">
                        What problems does GoodCrypto Mail solve?
                    </h4>

                        <h4 class="dropcap">
                            Email spying and economic espionage
                        </h4>
                        <br/>



                        <p>

                        <strong>Anyone can read unencrypted email</strong>

<p>
Revelations by whistleblowers like Edward Snowden have shown, that email exchanged from the
privacy of our office or home, email is being scooped up by spy agencies around the world.
<a href="http://www.foxnews.com/tech/2013/06/11/inside-nsas-secret-utah-data-center/" target =" _blank ">Inside the NSA’s
secret Utah data center</a> "capable of sorting through and storing every e-mail".
Wired reported that <a href="http://www.wired.com/2012/03/ff_nsadatacenter/all/" target =" _blank ">the NSA is building the
country's biggest spy center</a> and their priorities are "financial information, stock transactions,
business deals".</p>

<p>
GoodCrypto automatically encrypts and decrypts messages for everyone in your group. There's no
training necessary or extra clicks. Users continue to read and write messages with their favorite mail client.
GoodCrypto even manages keys automatically if the recipients also use GoodCrypto.</p


                    </p>

                </div>




                <div>
                    <a name="5"></a>
                    <p>&nbsp;</p>
                    <h4 class="well">
                        How does GoodCrypto Mail work?
                    </h4>

                        <h4 class="dropcap">
                            You continue to read and write your email as usual.
                        </h4>
                        <br/>



                        <p>

                        <img src="/static/images/diagrams/decrypt_email.png" alt="Decrypting inbound mail"><br/>

<p class="dropcap">GoodCrypto Mail works between your mail server and the world, automatically making your messages private. Without GoodCrypto, anyone can read your mail. With GoodCrypto, whenever you <em>and</em> your contacts use GoodCrypto or other privacy software, no one can read it until it's unlocked. You don't have to do anything. You just read and write mail as usual. GoodCrypto locks and unlocks private messages for you.</p>

<p>&nbsp;</p>

<h4> Step by Step </h4>

<p>Let's look at how mail between Ted and Alice works.  Assume:
<ol>
    <li> They've never used crypto, and don't know much about it.</li>
    <li> They work at different companies</li>
    <li> Both businesses have installed GoodCrypto. GoodCrypto works with other PGP packages, too.</li>
</ol>

<p>Ted sends a message to Alice using his favorite mail client. He doesn't do anything differently. This first message is unprotected, since Ted and Alice don't have any keys yet. The message goes to Alice immediately. Then the GoodCrypto server creates keys for Ted.</p>

<p>Alice responds to Ted's message. Like Ted, she sends mail exactly the way she always does.  Because Ted's key isn't ready yet, this message from Alice isn't encrypted. GoodCrypto adds a note to every message telling you whether it was encrypted. Her company's GoodCrypto server creates her keys. Both Ted and Alice will receive email from the GoodCrypto server when their keys are ready. </p>

<p>After Ted's key is ready, when he sends Alice a message his public key will be in the header. This message is also unencrypted because Ted doesn't have Alice's key yet.</p>

<p>When Alice receives this message, her company's GoodCrypto server sends two notifications. One tells Alice she now has Ted's key. The other goes to the administrator to say the no-metadata key for Ted's company arrived. Both Alice and the administrator should <a href="/qna/knowledge-base/user-verify-key/index.html">verify these keys</a>. Alice's GoodCrypto server also sends Ted's GoodCrypto server the no-metadata key for Alice's company.</p>

<p>Here's the magic. Ted and Alice didn't have to do anything. They just exchanged email as usual. No one has to remember passphrases or click extra buttons. GoodCrypto's key management creates, exchanges, and pins keys automatically. Now whenever Ted and Alice exchange a message, it's protected. Both content and metadata are encrypted, mixed, and padded.  In fact, anyone in either company can send encrypted mail to anyone at the other company. The metadata protection includes its own layer of encryption. No one has to do anything. </p>

<p>
For encryption and decryption, the GoodCrypto server never connects directly to the Internet. It only talks to your mail server. GoodCrypto benefits from any protection the mail server has.
</p>

<p>
The layers of encryption, hopefully including SMTP TLS, mean that when one layer fails you're still protected. GoodCrypto encrypts from individual to individual, then it mixes messages from one group to another, pads, and encrypts again. A well configured mail server encrypts one more time. Encryption fails over time. With layered encryption, if even one layer works, you have time to fix or replace the failed layer. If you rely on a single layer of encryption, any failure is catastrophic. A defense in depth is much safer.
</p>

<p><a href="/qna/technical/goodcrypto-and-other-encryption.html">Learn how GoodCrypto works if a contact does not have GoodCrypto.</a></p>

<p><a href="/qna/technical/metadata-protection-security-viewpoint.html">Learn how GoodCrypto protects metadata.</a></p>

                    </p>

                </div>




                <div>
                    <a name="6"></a>
                    <p>&nbsp;</p>
                    <h4 class="well">
                        Can I still exchange plain email?
                    </h4>

                        <h4 class="dropcap">
                            Yes
                        </h4>
                        <br/>



                        <p>

                        <p>Email works the way it always has, even with people who don't protect their mail.</p>
<p>GoodCrypto Mail adds a short note to the bottom of each insecure message you receive so you know that anyone could have read it. <a href="/qna/general/index.html">Learn more.</a></p>


                    </p>

                </div>




                <div>
                    <a name="7"></a>
                    <p>&nbsp;</p>
                    <h4 class="well">
                        Do all my contacts have to use GoodCrypto Mail?
                    </h4>

                        <h4 class="dropcap">
                            No
                        </h4>
                        <br/>



                        <p>

                        <p>If you want your mail protected, then your contacts must use encryption software.</p>

                    </p>

                </div>




                <div>
                    <a name="8"></a>
                    <p>&nbsp;</p>
                    <h4 class="well">
                        Can I use GoodCrypto with my existing email client?
                    </h4>

                        <h4 class="dropcap">
                            Yes
                        </h4>
                        <br/>



                        <p>


                    </p>

                </div>




                <div>
                    <a name="9"></a>
                    <p>&nbsp;</p>
                    <h4 class="well">
                        Does GoodCrypto Mail work with web based email?
                    </h4>

                        <h4 class="dropcap">
                            Yes, if you control the mail server
                        </h4>
                        <br/>



                        <p>

                        <p>If your company uses web based email package and manages its
own mail servers, then you can use GoodCrypto Email. If you use
public web based email, such as GMail or Yahoo, then you won't be able
to use Mail.</p>
<p>Of course, if your contacts use a public web based mail, then you can
still exchange email with them. It will be hard for those contacts to
exchange private messages because of the hassles of most encryption solutions.
</p>

                    </p>

                </div>
















































        <div class="col-md-12">
            <a name="Web"></a>
            <p>&nbsp;</p>
            <p><h3>Web</h3></p>
        </div>























































                <div>
                    <a name="10"></a>
                    <p>&nbsp;</p>
                    <h4 class="well">
                        What is GoodCrypto Web?
                    </h4>

                        <h4 class="dropcap">
                            GoodCrypto Web is a web proxy that provides tor anonimity, malware blocking, and tracker removal.
                        </h4>
                        <br/>



                        <p>


                    </p>

                </div>




                <div>
                    <a name="11"></a>
                    <p>&nbsp;</p>
                    <h4 class="well">
                        What problems does GoodCrypto Web solve?
                    </h4>

                        <h4 class="dropcap">
                            Private and safe browsing for your organization.
                        </h4>
                        <br/>



                        <p>

                        Everyone in your organization browses privately through Tor. Your privacy is safe.
<p>
GoodCrypto Web also protects against malware while browsing.
<p>
Plus private information is stripped from your web requests.
                    </p>

                </div>




                <div>
                    <a name="12"></a>
                    <p>&nbsp;</p>
                    <h4 class="well">
                        How does browsing with GoodCrypto work?
                    </h4>

                        <h4 class="dropcap">

                        </h4>
                        <br/>



                        <p>

                        Everyone continues to surf the web as usual. There's no new browser to learn.

<p>Web access is filtered, aggregated by groups and protected by <a href="https://www.youtube.com/watch?v=JWII85UlzKw">Tor</a> after the administrator adjusts users' favorite browsers to rely on the GoodCrypto web filter.
</p>

<p>
Web requests have identifying information stripped or replaced. Incoming responses are filtered for malware vectors.
</p>

<p>
Individuals are mixed in a group. Groups are mixed by Tor. Even if someone cracks Tor, they don't know who accessed the page. They only know it was someone in a group.
</p>

<p>
And if they do identify an individual, targeted malware is blocked.
</p>

                    </p>

                </div>




                <div>
                    <a name="13"></a>
                    <p>&nbsp;</p>
                    <h4 class="well">
                        Can I still use my favorite browser?
                    </h4>

                        <h4 class="dropcap">
                            Yes
                        </h4>
                        <br/>



                        <p>


                    </p>

                </div>




























        <div class="col-md-12">
            <a name="Licenses"></a>
            <p>&nbsp;</p>
            <p><h3>Licenses</h3></p>
        </div>



































































                <div>
                    <a name="17"></a>
                    <p>&nbsp;</p>
                    <h4 class="well">
                        How is GoodCrypto licensed?
                    </h4>

                        <p>

                        The individual packages are all open source, with different licenses.
                    </p>

                </div>
    </div>
</div>



    </div>
</div>


<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="navbar navbar-bottom">
    <div class="nav-collapse">






    <div class="row">&nbsp;</div>
    <div class="row"><hr></div>
    <div class="row small center">
        <div class="col-md-2">
        &nbsp;
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1 center">

        </div>
        <div class="col-md-1 center">
        </div>
        <div class="col-md-1 center">
        </div>
        <div class="col-md-1 center">
        </div>
        <div class="col-md-2 right">
            &copy; <a href="/legal/index.html" title="A few legal details">2014-2017 GoodCrypto</a>
        </div>
        <div class="col-md-1">
        &nbsp;
        </div>
    </div>



    </div>
</div>
{% endblock contentpane %}

