{% extends "base.html" %}
{% comment %}

    Copyright 2014-2017 GoodCrypto
    Last modified: 2017-03-26

{% endcomment %}
{% load i18n custom %}

{% block titlevar %}How GoodCrypto Works | GoodCrypto{% endblock %}

{% block contentpane %}



<div class="row">
    <div class="col-md-12">







<div id="content">
    <h2>How GoodCrypto Works</h2>

    <div class="row">
        <div class="col-md-2">
            <a href="/qna/general/index.html">General FAQ</a><br/>

            <a href="/qna/technical/index.html">Technical FAQ</a><br/>
        </div>

        <div class="col-md-10">
            <p><img src="/static/images/diagrams/email_overview.png" alt="Automatically encrypt and decrypt email"></p>
            <p>&nbsp;</p>

            <p class="dropcap">GoodCrypto is a private server that runs on your computer which protects email and browsing for a group. It automatically encrypts and decrypts email including metadata, and manages keys. Everyone in the group gets <a href="https://www.youtube.com/watch?v=JWII85UlzKw">Tor</a> anonymity plus malware blocking and tracker removal. GoodCrypto is based on the most tested and trusted crypto, GPG and Tor. Snowden relied on them, and he is alive and free. It's hard to imagine a better test.
</p>

            <p>&nbsp;</p>
            <ul>
            <p>
                <a href="/server/whitepaper.html#MailWorks"><h4>How mail works</h4></a>
            </p>

            <p>
                <a href="/server/whitepaper.html#WebWorks"><h4>How browsing works</h4></a>
            </p>

            <p>
                <h4><a href="/server/whitepaper.html">Whitepaper</a> for details</h4>
            </p>
            </ul>
        </div>
    </div>
</div>



    </div>
</div>


<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="navbar navbar-bottom">
    <div class="nav-collapse">






    <div class="row">&nbsp;</div>
    <div class="row"><hr></div>
    <div class="row small center">
        <div class="col-md-2">
        &nbsp;
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1 center">

        </div>
        <div class="col-md-1 center">
        </div>
        <div class="col-md-1 center">
        </div>
        <div class="col-md-1 center">
        </div>
        <div class="col-md-2 right">
            &copy; <a href="/legal/index.html" title="A few legal details">2014-2017 GoodCrypto</a>
        </div>
        <div class="col-md-1">
        &nbsp;
        </div>
    </div>



    </div>
</div>
{% endblock contentpane %}

