{% extends "base.html" %}
{% comment %}

    Copyright 2014-2017 GoodCrypto
    Last modified: 2017-03-26

{% endcomment %}
{% load i18n custom %}

{% block contentpane %}
<div class="container">



<div class="row">
    <div class="col-md-12">







<div id="content">

    <a name="Questions"></a>
    <h2>FAQ: Technical Questions &amp; Answers</h2>


    <div class="row">
        <div class="col-md-2">

    <p>&nbsp;</p>







    <h4> <a href="/qna/general/index.html" title="Answers to general topics about GoodCrypto">General FAQ</a> </h4>
    <h4> <a href="/qna/knowledge-base/index.html" title="Manual and trouble shooting guide for GoodCrypto.">Knowledge Base</a> </h4>

    <p> &nbsp; </p>














        </div>

        <div class="col-md-10">

    <div class="row">
        <a name="Questions"></a>
        <h2>What is GoodCrypto's design?</h2>


            <h4 class="dropcap">
                Transparent protection for whole groups at a time.
            </h4>

                <p>
                    Our guiding principles are:
<ul>
<li><strong>Protect everyone at once</strong>

<p>No training. No clicks.</p>

<p>
Bruce Schneier points out, "If there is anything PGP has taught us,
it's that one click is one click too many."
Protecting one person at a time is inefficient.
You have to try to train each one to protect themselves.
The success rate is not high.</p>

<p>
Most cracked systems are user systems because ordinary people have no idea how to protect themselves online.</p>
</li>

<li><strong>Layered protection</strong>
<p>
For example, web access is filtered, aggregated by groups and protected by Tor.  And, mail can be configured to use multiple encryption methods.
</p>
</li>

<li><strong>Use tested and trusted components, such as GPG and Tor</strong>
<p>We are very slow to use new protection schemes until they have been audited and their reliability proven.</p>
</li>

<li><strong>Preconfigured distribution</strong>

<p>
Just boot it. Preconfigured. Support. Security updates. Reproducible build.</p>
</li>

<li><strong>Decentralized</strong>

<p>
All your private information is on <em>your own server</em>.
Automatic key management with no central servers. P2P public key distribution. Key pinning.</p>

<li><strong>Integrate with existing mail and browsers</strong>

<p>
Uses the same SMTP, IMAP, and POP servers you use now. Same mail clients and browsers. Same antispam and antivirus. Integrates at the MTA level.</p>
</li>

<li><strong>Don't use known compromised encryption</strong>

<p>
This may seem obvious, but some compromised crypto is standard. State sponsored standards are generally crippled so the state can crack them, which of course means others can crack them.
</p>
</li>

<li><strong>Don't trust too much</strong>

<p>
That includes us. Encourage people to audit GoodCrypto.
The goal is to be tested and trusted, not blindly trusted.</p>
</li>

<li><strong>Virtualization to protect against embedded malware</strong>

<p>
Ed Snowden says that VMs are
"<a href="https://theintercept.com/2015/11/12/edward-snowden-explains-how--to-reclaim-your-privacy/">a big step up</a>"
against persistent threats. That matches our
<a href="/news/how_to_protect_against_apts">experience</a>.
</p>

</li>
</ul>

                </p>


    </div>

        </div>
    </div>
</div>



    </div>
</div>


<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="navbar navbar-bottom">
    <div class="nav-collapse">






    <div class="row">&nbsp;</div>
    <div class="row"><hr></div>
    <div class="row small center">
        <div class="col-md-2">
        &nbsp;
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-1 center">

        </div>
        <div class="col-md-1 center">

        </div>
        <div class="col-md-1 center">

        </div>
        <div class="col-md-1 center">

        </div>
        <div class="col-md-2 right">
            &copy; <a href="/legal/index.html" title="A few legal details">2014-2017 GoodCrypto
</a>
        </div>
        <div class="col-md-1">
        &nbsp;
        </div>
    </div>



    </div>
</div>



</div>
</body>
</html>

{% endblock contentpane %}