{% extends "base.html" %}
{% comment %}

    Copyright 2014-2017 GoodCrypto
    Last modified: 2017-03-26

{% endcomment %}
{% load i18n custom %}

{% block contentpane %}
<div class="container">



<div class="row">
    <div class="col-md-12">







<div id="content">

    <a name="Questions"></a>
    <h2>FAQ: Technical Questions &amp; Answers</h2>


    <div class="row">
        <div class="col-md-2">

    <p>&nbsp;</p>







    <h4> <a href="/qna/general/index.html" title="Answers to general topics about GoodCrypto">General FAQ</a> </h4>
    <h4> <a href="/qna/knowledge-base/index.html" title="Manual and trouble shooting guide for GoodCrypto.">Knowledge Base</a> </h4>

    <p> &nbsp; </p>














        </div>

        <div class="col-md-10">

    <div class="row">
        <a name="Questions"></a>
        <h2>What is GoodCrypto's threat model?</h2>


            <h4 class="dropcap">
                Global passive and active attackers.
            </h4>

                <p>
                    Attackers include states, businesses, and ordinary criminals.
<p>
There is at least one global passive attacker, NSA. They strive to <a href="http://www.foxnews.com/tech/2013/06/11/inside-nsas-secret-utah-data-center/" target =" _blank ">tap and store everything</a>.

<p>
Counters to global passive attacks include:
<ul>
  <li> Encrypt (examples: TLS, GPG)
  <li> Use combinatorial explosions such as mixing (examples: groups, Tor)
</ul>

<p>
NSA is also the worst active attacker, although there are many.
They sabotage and crack standards, products, and services.
They inject packets and infect systems with malware.
They embed compromised keys and bugs in hardware, at the factory and in transit.

<p>
Counters to active attacks include:
<ul>
  <li> Use tested and trusted products and services
  <li> Avoid state sponsored standards
  <li> Use firewalls
  <li> Virtualize systems
</ul>
                </p>


    </div>

        </div>
    </div>
</div>



    </div>
</div>


<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="navbar navbar-bottom">
    <div class="nav-collapse">






    <div class="row">&nbsp;</div>
    <div class="row"><hr></div>
    <div class="row small center">
        <div class="col-md-2">
        &nbsp;
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-1 center">

        </div>
        <div class="col-md-1 center">

        </div>
        <div class="col-md-1 center">

        </div>
        <div class="col-md-1 center">

        </div>
        <div class="col-md-2 right">
            &copy; <a href="/legal/index.html" title="A few legal details">2014-2017 GoodCrypto
</a>
        </div>
        <div class="col-md-1">
        &nbsp;
        </div>
    </div>



    </div>
</div>



</div>
</body>
</html>

{% endblock contentpane %}