{% extends "base.html" %}
{% comment %}

    Copyright 2014-2017 GoodCrypto
    Last modified: 2017-03-26

{% endcomment %}
{% load i18n custom %}

{% block contentpane %}
<div class="container">



<div class="row">
    <div class="col-md-12">







<div id="content">

    <a name="Questions"></a>
    <h2>FAQ: Technical Questions &amp; Answers</h2>


    <div class="row">
        <div class="col-md-2">

    <p>&nbsp;</p>







    <h4> <a href="/qna/general/index.html" title="Answers to general topics about GoodCrypto">General FAQ</a> </h4>
    <h4> <a href="/qna/knowledge-base/index.html" title="Manual and trouble shooting guide for GoodCrypto.">Knowledge Base</a> </h4>

    <p> &nbsp; </p>














        </div>

        <div class="col-md-10">

    <div class="row">
        <a name="Questions"></a>
        <h2>Is GoodCrypto open source?</h2>


            <h4 class="dropcap">
                Yes.
            </h4>

                <p>
                    <p>
<strong> Security software without source code isn't secure. </strong> We wouldn't trust GoodCrypto without source code, and we don't think you should either.
</p>

<p>
GoodCrypto is open source so others can help find the vulnerabilities and fix them.  All our software in the ISO is already source code.
</p>

<p>
Also, the core software is on <a href="https://gibhub.com/goodcrypto/" target="_blank">github</a> under GPLv3. We usually update our github repositories later than the source distributed in each ISO so when you're verifying an ISO, use the source distributed with that ISO..
</p>

<p>
We haven't made a decision on the license for the rest of our ISO software, but if you need more information, please <a href="contacts" target="_blank">contact us</a>.
</p>

<p>It's possible to hide malware in open source, but it's a lot harder. When you use security software without source code you make it easy for the bad guys.</p>

                </p>


    </div>

        </div>
    </div>
</div>



    </div>
</div>


<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="navbar navbar-bottom">
    <div class="nav-collapse">






    <div class="row">&nbsp;</div>
    <div class="row"><hr></div>
    <div class="row small center">
        <div class="col-md-2">
        &nbsp;
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-1 center">

        </div>
        <div class="col-md-1 center">

        </div>
        <div class="col-md-1 center">

        </div>
        <div class="col-md-1 center">

        </div>
        <div class="col-md-2 right">
            &copy; <a href="/legal/index.html" title="A few legal details">2014-2017 GoodCrypto
</a>
        </div>
        <div class="col-md-1">
        &nbsp;
        </div>
    </div>



    </div>
</div>



</div>
</body>
</html>

{% endblock contentpane %}