{% extends "base.html" %}
{% comment %}

    Copyright 2014-2017 GoodCrypto
    Last modified: 2017-03-26

{% endcomment %}
{% load i18n custom %}

{% block contentpane %}
<div class="container">



<div class="row">
    <div class="col-md-12">







<div id="content">

    <a name="Questions"></a>
    <h2>FAQ: Technical Questions &amp; Answers</h2>


    <div class="row">
        <div class="col-md-2">

    <p>&nbsp;</p>







    <h4> <a href="/qna/general/index.html" title="Answers to general topics about GoodCrypto">General FAQ</a> </h4>
    <h4> <a href="/qna/knowledge-base/index.html" title="Manual and trouble shooting guide for GoodCrypto.">Knowledge Base</a> </h4>

    <p> &nbsp; </p>














        </div>

        <div class="col-md-10">

    <div class="row">
        <a name="Questions"></a>
        <h2>Why a virtual appliance?</h2>


            <h4 class="dropcap">
                Easier to install, use, and maintain. And safer.
            </h4>

                <p>
                    <p>
<strong>A virtual appliance is ready to use.</strong>
Not a pile of parts. No assembly needed. Tested.

<p>
<strong>Easy to install.</strong>
Just boot it.
You get all the software you need, the right versions, pre-configured.

<p>
<strong>Easy to use.</strong>
No training needed.

<p>
<strong>Easy to maintain.</strong>
Automatic updates and professional support.

<!-- You don't want a pile of parts where you have to do the wiring and plumbing. -->

<p>
<strong>More secure.</strong>
(soon)
Systems are isolated from each other so an attack on one isn't as likely to harm others.

<p>
Virtual machines are resistant to APTs, Advanced Persistent Threats. Some attacks compromise a machine at a very low level, in BIOS, driver PROMS, etc. Even reinstalling the OS doesn't help.

<p>
But a properly configured vm can be safely and automatically recreated with all data restored. This is much cheaper and easier than replacing physical machines.

                </p>


    </div>

        </div>
    </div>
</div>



    </div>
</div>


<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="navbar navbar-bottom">
    <div class="nav-collapse">






    <div class="row">&nbsp;</div>
    <div class="row"><hr></div>
    <div class="row small center">
        <div class="col-md-2">
        &nbsp;
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-1 center">

        </div>
        <div class="col-md-1 center">

        </div>
        <div class="col-md-1 center">

        </div>
        <div class="col-md-1 center">

        </div>
        <div class="col-md-2 right">
            &copy; <a href="/legal/index.html" title="A few legal details">2014-2017 GoodCrypto
</a>
        </div>
        <div class="col-md-1">
        &nbsp;
        </div>
    </div>



    </div>
</div>



</div>
</body>
</html>

{% endblock contentpane %}